html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: $fuenteppl;
  font-size: 1.6rem;
  background-color: $sec;
}

p {
  font-size: 2rem;
}

.contenedor {
  max-width: 80rem;
  width: 95%;
  margin: 0 auto;
  height: 100vh;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

h1,
h2,
h3 {
  margin: 0;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.6rem;
}

h3 {
  font-size: 3rem;
}
