//fuentes
$fuenteppl: "Bungee Hairline", cursive;
$fuentesec: "Monofett", cursive;
$fuenteter: "IBM Plex Sans";
$thin: 100;
$light: 300;
$medium: 500;
$bold: 700;
$black: 900;
//colores
$ppl: #2f3131;
$sec: #f8f1e5;
$ter: #f9ba32;
$quar: #426e86;
// Media Queries
$telefono: 480px;
$tablet: 768px;
$desktopPlus: 900px;
$desktop: 1200px;
$desktop4k: 2000px;
