main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.calc {
  margin: 0 auto;
  height: 600px;
  width: 450px;
  background-color: rgb(32, 32, 32);
  .screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 140px;
    padding: 10px;
  }
}

.screen_oper,
.screen_result {
  color: white;
  font-weight: 500;
  width: 430px;
  display: flex;
}

.screen_oper {
  height: 60px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  background-color: grey;
  .screen__numP {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: -3px;
    margin: 0;
    padding-right: 5px;
  }
}
.screen_result {
  height: 80px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  .screen__numR {
    font-size: 34px;
    letter-spacing: -3.5px;
    margin: 0;
    padding-right: 5px;
  }
  background-color: rgb(63, 63, 63);
}
