.buttons {
  display: grid;
  gap: 5px;
  margin: 10px 20px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-template-areas:
    "P C M D"
    "SIETE OCHO NUEVE RESTA"
    "CUATRO CINCO SEIS SUMA"
    "UNO DOS TRES IGUAL"
    "CERO PUNTO BORRAR IGUAL";
  font-family: $fuentesec;
  font-size: 50px;
  button {
    color: white;
    background-color: transparent;
    padding: 10px;
  }
}

.porcentaje {
  grid-area: P;
}
.C {
  grid-area: C;
}
.mult {
  grid-area: M;
}
.div {
  grid-area: D;
}
.uno {
  grid-area: UNO;
}
.dos {
  grid-area: DOS;
}
.tres {
  grid-area: TRES;
}
.cuatro {
  grid-area: CUATRO;
}
.cinco {
  grid-area: CINCO;
}
.seis {
  grid-area: SEIS;
}
.siete {
  grid-area: SIETE;
}
.ocho {
  grid-area: OCHO;
}
.nueve {
  grid-area: NUEVE;
}
.cero {
  grid-area: CERO;
}
.punto {
  grid-area: PUNTO;
}
.borrar {
  grid-area: BORRAR;
}
.sum {
  grid-area: SUMA;
}
.resta {
  grid-area: RESTA;
}
.igual {
  grid-area: IGUAL;
}
